.contact-thankframe{
    margin: 0 auto;
    padding: 0;
    border: none;
    bottom: 40%;
    background-color: transparent;
    animation: thankappear 500ms;
}
.contact-thank{
    border: 3px solid #A62B35;
    background-color: #FDFDFD;
    border-radius: 2rem;
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #80161E;
    display: flex;
    flex-direction: column;
    max-width: 35rem;
}
.contact-thankbutton{
    border: 1px solid #A62B35;
    background-color: #FDFDFD;
    border-radius: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #80161E;
    width: 12rem;
    margin: 3rem auto 0 auto;
    cursor: pointer;
}
.contact-thankbutton:hover,.contact-thankbutton:focus{
    animation: shadow 200ms;
    animation-fill-mode: forwards;
}

@keyframes thankappear {
    0% {
        opacity: 0%;
        bottom: 90%;
    }

    100% {
        opacity: 100%;
        bottom: 40%;
    }
}

@media screen and (max-width:45rem){
    
    .contact-thank{
        font-size: 1rem;
    }
    .contact-thankbutton{
        font-size: 1rem;
    }
}